<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Base CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/base.css">

  <!-- Site title -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Fonts -->

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Mobile is on mobile, man.  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Whoa bro, that's meta. -->
  <meta name="description" content="Born-curious art director, designer and illustrator located in the  silver skies of Portland, Oregon. Offering a multi-disciplined approach to branding, identity, illustration, 3D (SketchUp) models, environment, interior, experience, web, digital, UI, and other non-specific visual design. " >

  <!-- More tags than a Instagram post -->
  <meta name="keywords" content="why, hello, there, whyhellothere, why hello there, jon schafer, jon, schafer, typography, web design, design, art direction, logo, branding, graphic design, brand identity, corporate identity, identity, stationery, logotype, logo design, brand development, promo, promotion, corporate, retail, retail design, execution, environment, environmental, 3D, sketchup, rendering, architecture, print, curation, digital, interactive, signage">

</head>
