.bkg-color {
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  animation: colorchange 50s infinite;

  /* Chrome and Safari */
  -webkit-animation: colorchange 50s infinite;
}

@keyframes colorchange {
  0%   {background: #FFFABA;}
  25%  {background: #D3FFDF;}
  50%  {background: #D3FFFD;}
  75%  {background: #FFF3D3;}
  100% {background: #FFFABA;}
}

 /* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange {
  0%   {background: #FFFABA;}
  25%  {background: #D3FFDF;}
  50%  {background: #D3FFFD;}
  75%  {background: #FFF3D3;}
  100% {background: #FFFABA;}
}
