.bkg-color {
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  animation: colorchange 50s;

  /* Chrome and Safari */
  -webkit-animation: colorchange 50s;
}

@keyframes colorchange {
  0%   {background: #FFFABA;}
  25%  {background: #D3FFDF;}
  50%  {background: #D3FFFD;}
  25%  {background: #FFF3D3;}
  0% {background: #FFE7D3;}
}

 /* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange {
  0%   {background: #FFFABA;}
  25%  {background: #D3FFDF;}
  50%  {background: #D3FFFD;}
  25%  {background: #FFF3D3;}
  0% {background: #FFE7D3;}
}
