/* ==========================================================================
   Grid
========================================================================== */

.grid-parent {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
}

.grid-child {
  background-color: $peach-dark;
  width: 220px;
  height: 100px;
  padding: 0 20px 0 20px;
  margin: 10px 0 10px 0;
}

.grid-child:hover {
  background-color: white;
}


.grid-headline {
  color: $grey;
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.grid-blurb {
 color: $grey-light;
 font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 18px;
}

.grid-cta {
 color: $grey;
 font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
 font-size: 13px;
}

/* Between 715 - 900px */
@media only screen and (max-width: 800px) and (min-width: 675px) {

.grid-child {
  margin: 20px 0 20px 0;
  width: 100%;
 }

}

/* Between 350 - 675px */
@media only screen and (max-width: 675px) and (min-width: 350px) {

.grid-child {
  margin: 10px 0 10px 0;
  width: 100%;
 }

}
