/* ==========================================================================
   Grid
========================================================================== */

// Help
// https://internetingishard.com/html-and-css/flexbox/

.grid-parent {
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
 // background-color: red;
}

.grid-child {
  background-color: $peach-dark;
  width: 220px;
  height: 100px;
  padding: 20px;
  margin: 0 20px 20px 0;
}

// for listening page
.grid-child-square {
  background-color: $peach-dark;
  width: 220px;
  height: 220px;
  margin: 0 20px 20px 0;
}

.grid-img {
  object-fit: cover;
  padding: 0;
  background-color: blue;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-child:hover, .grid-child-square:hover {
  background-color: white;
}


.grid-headline {
  color: $grey;
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.grid-blurb {
 color: $grey-light;
 font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 18px;
}

.grid-cta {
 color: $grey;
 font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
 font-size: 13px;
}

/* Between 715 - 900px */
@media only screen and (max-width: 800px) and (min-width: 675px) {

.grid-parent {
  flex-flow: column wrap;
}

.grid-child, .grid-child-square {
  margin: 20px 0 20px 0;
  width: 100%;
 }

}

/* Between 350 - 675px */
@media only screen and (max-width: 675px) and (min-width: 350px) {

.grid-parent {
  flex-flow: column wrap;
}

.grid-child, .grid-child-square {
  margin: 10px 0 10px 0;
  width: 100%;
 }

}
