/* ==========================================================================
   Grid
========================================================================== */

.grid-parent {
 display: flex;
 justify-content: space-between;
}

.grid-child {
  background-color: #fff;
  flex-flow: row wrap;
  width: 220px;
  padding: 0 20px 0 20px;
}

.grid-headline {
  color: $grey;
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.grid-blurb {
 color: $grey-light;
 font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 18px;
}

.grid-cta {
 color: $grey;
 font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
 font-size: 13px;
}

/* Between 601 - 900px */
@media only screen and (max-width: 800px) and (min-width: 600px) {
 .grid-parent {
   background-color: red;

 }

}
