// For recipe.html and meals.html

.button {
  border: solid 2px $grey;
  background: none;
  color: $grey;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background: white;
}

.recipe {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: $grey;
  min-height: 6em;
  // background: red;
}

.prep {
  margin-top: 60px;
}

// meals styles

.book {
  min-height: 36em;
  // background: green;
}

.meals {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 36px;
  color: $grey;
  margin-bottom: 30px;
}

.byline {
  margin-bottom: 20px;
}

.grey {
  color: $grey;
}
