.chrome {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	background: #E1E1E1;
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.terminal {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .16);
  border-radius: 6px;
	padding: 45px 16px 16px 16px;
	margin: 32px 0;
	// border: 1px solid #d8d9da;
}
