// Helpful https://www.w3schools.com/howto/howto_css_browser_window.asp

.dot {
    height: 10px;
    width: 10px;
    background-color: $grey-light;
    border-radius: 50%;
    display: inline-block;
}

.chrome {
	position: absolute;
	top: 0;
	left: 0;
  padding-left: 10px;
	height: 25px;
	background: #E1E1E1;
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.terminal {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .16);
  border-radius: 6px;
	padding: 45px 16px 16px 26px;
	margin: 32px 0;
	border: 1px solid #d8d9da;
}
