/* ==========================================================================
   Thoughts
========================================================================== */

.thoughts {
  background-color: white;

  h1 {
    font-size: 30px;
    line-height: 38px;
  }

  h2 {
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 29px;
  }

  .list {
    font-size: 16px;
    line-height: 18px;
  }

  a:hover {
    color: $coral;
  }

  .date {
    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $grey-light;
    // background:blue;
    padding: 0;
    text-align: center;
  }

  .article {
    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  	font-size: 26px;
    text-align: center;
  	margin: 0;
    color: $grey;
    // background:red;
    padding: 0;
  }

  .article-list {
    // background: red;
    padding: 15px;
  }

  blockquote {
    font-size: 20px;
    line-height: 30px;
    margin: 30px auto;
    font-style:italic;
    color: $grey;
    padding: 0 30px 0 30px;
    border-left: 4px dotted $grey-light;
    // position: relative;
    // background:$peach-dark;

  }

  /* ==========================================================================
     Code
  ========================================================================== */

  // unsused
  pre {
    background-color: $terminal;
    color: $bash;
    font-size: 14px;
    line-height: 24px;
    font-family: Menlo,Roboto Mono,Courier New,monospace;
    border-radius: 3px;
    padding: 20px;
    height: 300px;
    overflow: auto;
  }

  // should be BEM, p_code, SPAN class
  .code {
    color: $;
    background-color: #f7f9fa;
    border-color: #e6e8eb;
    word-spacing: normal;
    border-radius: 1px;
    border: 1px solid #e6e8eb;
    padding: 2px 2px 1px;
    font-size: 16px;
    font-family: SourceCodePro,monospace;
    display: inline;
  }

  /* ==========================================================================
     Bullets
  ========================================================================== */


  ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    color: $grey-light;

    li {
      font-size: 14px;
    }
  }

  // nested style
  .indent {
    margin-top: 0px;
    color: $grey;

    li {
      font-size: 14px;
      line-height: 22px;
      padding-left: 20px;

      &:before {
        content: "• ";
        color: $coral;
        margin-right: 5px;
        font-size: 20px;
      }
    }
  }


}
