/* ==========================================================================
   Bullets
========================================================================== */


ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  color: $grey-light;

  li {
    font-size: 14px;
  }
}

.indent {
  margin-top: 0px;
  color: $grey;

  li {
    font-size: 14px;
    line-height: 22px;
    padding-left: 20px;

    &:before {
      content: "• ";
      color: $coral;
      margin-right: 5px;
      font-size: 20px;
    }
  }
}
