/* ==========================================================================
   Layout
========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
}

body {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  background-color: $peach;
}

p {
  padding: 0 0 10px 0;
}

img {
  max-width: 100%;
  padding: 20px 0 0 0;
}

.img-blurb {
  color: $grey-light;
  padding-bottom: 20px;
}


/* ==========================================================================
   Nav
========================================================================== */

nav {
  margin-bottom: 40px;
}

nav a {
  padding-right: 10px;
}


/* ==========================================================================
   Links
========================================================================== */

a {
 color: inherit;
}

a:hover {
 color: $coral;
}

a:visited {
  color: $grey;
}


/* ==========================================================================
   Typography
========================================================================== */

.date {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $grey-light;
}

// a link for nav
.no-underline {
  text-decoration: none;
}

ul {
  list-style: none;

  padding: 0;
  color: $grey-light;
}

li {
  font-size: 14px;
	line-height: 22px;
  padding-left: 20px;

}

// color the bullet points
li::before {
  content: "• ";
  color: $coral;
  margin-right: 10px;
  font-size: 20px;
}

h1 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: $grey;
}

h2 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 36px;
	color: $grey;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 16px;
	color: $grey;
}

h4 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: $grey;
  padding-top: 30px;
}

h6 {
	font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;

  // weird margin thing
  margin: inherit;
	color: $coral;
}

.footer {
  font-size: 14px;
}

/* ==========================================================================
   Code
========================================================================== */

pre {
  background-color: $terminal;
  color: $bash;
  font-size: 14px;
  line-height: 24px;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  border-radius: 3px;
  padding: 20px;
  overflow: auto;
}

.language-bash {
  background-color: $peach-dark;
  color: $coral;
  font-size: 14px;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  display: inline;
}


/* ==========================================================================
   Flexbox
========================================================================== */

.parent {
  display: flex;
  justify-content: flex-start;
}

.left {
   margin-right: auto;
 }


 /* ==========================================================================
    Footer
 ========================================================================== */

footer {
   margin-top: 100px;
   color: $grey;
 }

 footer a {
   padding-right: 10px;
 }

 /* ==========================================================================
    Queries
 ========================================================================== */

 /* Between 350 - 900px */
 @media only screen and (max-width: 800px) and (min-width: 350px) {
  h2 {
    font-size: 20px;
    line-height: 28px;
  }

  body {
    font-size: 15px;
    line-height: 22px;
  }

  footer.parent {
    display: block;
    align-items: start;
  }

 }
