/* ==========================================================================
   Layout
========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
}

body {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $grey;
  background-color: $peach;
}

img {
  max-width: 100%;
  padding: 20px 0 0 0;
}

.img-blurb {
  color: $grey-light;
  padding-bottom: 20px;
}


/* ==========================================================================
   Nav
========================================================================== */

nav {
  margin-bottom: 40px;
}

nav a {
  padding-right: 10px;
}


/* ==========================================================================
   Links
========================================================================== */

a {
 color: inherit;
}

a:hover {
 color: $coral;
}

a:visited {
  color: $grey;
}


/* ==========================================================================
   Flexbox for navigation
========================================================================== */

.parent {
  display: flex;
  justify-content: flex-start;
}

.left {
   margin-right: auto;
 }

 /* ==========================================================================
    Flexbox for blog
 ========================================================================== */

 .umbrella {
  width: auto;
  display: flex;
  align-items: top;
 }

 .umbrella-left {
  // padding: 1em;
  flex: 1;
  // margin-right: 20px;
  // border-right: 1px solid $grey-light;
  // background-color: blue;
  }

.umbrella-right {
  // padding: 1em;
  flex: 1;
  // background-color: green;
}


 /* ==========================================================================
    Footer
 ========================================================================== */

footer {
   margin-top: 100px;
   color: $grey;
 }

 footer a {
   padding-right: 10px;
 }
