/* ==========================================================================
   Queries
========================================================================== */

/* Between 320 - 800px */
@media only screen and (max-width: 800px) and (min-width: 320px) {
 h2 {
   font-size: 20px;
   line-height: 28px;
 }

 body {
   font-size: 15px;
   line-height: 22px;
 }

 footer.parent {
   display: block;
   align-items: start;
 }

 .work-list {
   // background: red;
   font-size: 26px;
 }

}
