/* ==========================================================================
   Queries
========================================================================== */

/* Between 350 - 800px */
@media only screen and (max-width: 800px) and (min-width: 350px) {
 h2 {
   font-size: 20px;
   line-height: 28px;
 }

 body {
   font-size: 15px;
   // color: red;
   line-height: 22px;
 }

 footer.parent {
   display: block;
   align-items: start;
 }

}
