/* ==========================================================================
   Typography
========================================================================== */

/* ==========================================================================
   Thoughts
========================================================================== */
.date {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $grey-light;
  // background:blue;
  padding: 0;
  text-align: center;
}

.article {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 26px;
  text-align: center;
	margin: 0;
  color: $grey;
  // background:red;
  padding: 0;
}

.article-list {
  // background: red;
  padding: 15px;
}

blockquote {
  font-size: 20px;
  line-height: 30px;
  margin: 30px auto;
  font-style:italic;
  color: $grey;
  padding: 0 30px 0 30px;
  border-left: 4px dotted $grey-light;
  // position: relative;
  // background:$peach-dark;

}

/* ==========================================================================
   Everything else
========================================================================== */


// should be BEM, e.g. p__underline ?
.no-underline {
  text-decoration: none;
}

p {
  padding: 0 0 10px 0;
}

h1 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: $grey;
}

h2 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 36px;
	color: $grey;
  padding-top: 10px;
}

// should be nested BEM, e.g. &__intro
 .intro {
    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: $grey;
    padding-bottom: 20px;
}

h3 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 16px;
	color: $grey;
}

h4 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: $grey;
  padding-top: 20px;
}

h6 {
	font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;

  // weird margin thing
  margin: inherit;
	color: $coral;
}

// should be BEM, p__footer?
.footer {
  font-size: 14px;
}

/* ==========================================================================
   Code
========================================================================== */

// unsused
pre {
  background-color: $terminal;
  color: $bash;
  font-size: 14px;
  line-height: 24px;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  border-radius: 3px;
  padding: 20px;
  height: 300px;
  overflow: auto;
}

// should be BEM, p_code, SPAN class
.code {
  background-color: $peach-dark;
  color: $coral;
  font-size: 14px;
  font-family: Menlo,Roboto Mono,Courier New,monospace;
  display: inline;
}
