/* ==========================================================================
   Typography
========================================================================== */

// should be BEM, e.g. p__underline ?
.no-underline {
  text-decoration: none;
}

p {
  padding: 0 0 10px 0;
}

.blurb {
  color: $terminal;
  max-width: 800px;
}

.img-blurb {
  color: $terminal;
  padding-bottom: 40px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

ul {
  list-style: none;
  // margin-top: 10px;
  padding: 0;
  color: $terminal;
  padding-bottom: 20px;


  li {
    font-size: 14px;
  }
}

// Added to /work to match /thoughts type treatment
.work-list {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  color: $grey;
  // background:red;
  // margin-bottom: 10px;
}

.work-list:hover {
    color: $coral;
}

.work-list-blurb {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #888;
  // background: green;
  // padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: $grey;
}

h2 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 36px;
	color: $grey;
  padding-top: 10px;
}

// should be nested BEM, e.g. &__intro
 .intro {
    font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: $grey;
    padding-bottom: 20px;
}

h3 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 16px;
	color: $grey;
}

h4 {
  font-family: 'Graphik-Regular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	color: $grey;
  padding-top: 20px;
}

h6 {
	font-family: 'GTPressuraMono', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;

  // weird margin thing
  margin: inherit;
	color: $coral;
}

// should be BEM, p__footer?
.footer {
  font-size: 14px;
}
